.nav-bar {
	background: linear-gradient(to bottom right, #2E0854, #00688B);
	color: white;
	box-sizing: inherit;
	width: 100%;
	font-family: 'Trirong', serif;
	font-size: 2em;
}

.carousel {
	position: absolute;
	display: flex;
	width: 500%;
}

.image {
	height: 56em;
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.left-arrow, .right-arrow {
	margin: 0 5px;
	color: white;
	font-size: 2em;
	position: absolute;
	z-index: 10;
	top: 46%;
	background: black;
	padding: 0px 23px 0 18px;
	border-radius: 50%;
	cursor: pointer;
}

.right-arrow {
	padding: 0px 21px 0 18px;
}

.search-bar {
	margin: 56.5em auto .5em auto;
	width: 15%;
}

.results-map-container {
	display: flex;
}

.map, .results-container {
	height: 460px;
	width: 50%;
}

.map-element {
	height: 460px;
	width: 100%;
}

.results-container {
	overflow-x: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-result {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.rating-price {
	display: flex;
	justify-content: space-between;
}

.hour-price, .day-price {
	padding: 0 5px;
	float: right;
	background-color: rgba(0,0,0,0.6);
	color: white;
	text-align: right;
	font-weight: bold;
	margin: 2px 0;
	align-self: flex-end;
	border-radius: 5px;
}

.hour-price {
	font-size: 1.5em;
}

.day-price {
	font-size: 1em;
	align-self: flex-end;
}

.rating {
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-weight: bold;
	align-self: flex-end;
	border-radius: 5px;
	margin: 0 5px 5px 3px;
	padding: 2px;
}

.prices {
	margin: 0 3px 3px 0;
}

.name, .location {
	display: inline-block;
	color: white;
	font-weight: bold;
	margin: 3px;
	width: auto;
	padding: 3px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}